nav {
  height: 90px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.title {
  font-size: 24px;
  font-family: 'Bungee', cursive;
  padding-left: 1.5em;
}
 

#compose-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

#compose-tweet {
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 5px;
}

#chevron-nav {
  height: 25px;
  width: 25px;
  animation: MoveUpDown 1s linear infinite;
  position: relative;
/* // figure out how to turn this red */
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0px;
  }
  50% {
    bottom: 5px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .mainheader {
  margin-top: 80px;
}