#tweets-container {
  width: 85%;
  margin-top: 1.3em;
  background-color: #f4f1ec;
}
 
.tweet {
  display: flex;
  flex-direction: column;
  border: solid 4px;
  width: 100%;
  padding: 10px;
  filter: opacity(45%);
  margin: 30px 0px 30px 0px;

}
 
.tweet:hover {
  display: flex;
  flex-direction: column;
  border: solid 3px;
  width: 100%;
  padding: 10px;
  filter: opacity(100%);
  box-shadow: 10px 10px rgb(194, 194, 194);
  margin: 30px 0px 30px 0px;
  background-color: white;
}

.handle {
  display: none;
}

.tweet:hover .handle {
  display: block;
}

.tweet-top {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 10px 10px;
}

.avatar {
  display: flex;
  justify-content: space-between;
  width: 35%;
}

.avatar img {
  width: 80px;
  height: 80px;
  margin-right: 18px;
}

.avatar p {
  width: 5em;
}

.tweetbody {
  padding: 30px 10px 30px 10px;
  margin-bottom: 5px;
  border-bottom: solid 2px;
}

.tweet-bottom {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 3px 20px 8px 20px;
  font-size: 16px;
}

.socials {
  width: 4em;
  padding-top: .5em;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.socials img {
  height: 15px;
  width: 15px
}

.button-container {
  display: none;
}

.button-container-scroll {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

.button-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(237, 11, 11);
  width: 70px;
  height: 70px;
  border-radius: 100%;
  position: fixed;
  right: 70px;
  bottom: 50px;
  border: 2px white;
}

.button-background img {
  height: 25px;
}