article {
  display: flex;
  flex-direction: column;
  border: solid 4px;
  width: 100%;
  padding: 10px;
  filter: opacity(45%);
  margin-bottom: 30px;
}
 
article:hover {
  display: flex;
  flex-direction: column;
  border: solid 3px;
  width: 100%;
  padding: 10px;
  filter: opacity(100%);
  box-shadow: 10px 10px rgb(194, 194, 194);
  margin-bottom: 30px;
}

.handle {
  display: none;
}

.tweet-top {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px 10px 10px;
}

.avatar {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.tweetbody {
  padding: 30px 10px 30px 10px;
  margin-bottom: 5px;
  border-bottom: solid 2px;
}

.tweet-bottom {
  display: flex;
  justify-content: space-between;
  padding: 3px 20px 8px 20px;
  font-size: 16px;
}